@import "/home/csaba/node_modules/bootstrap/scss/bootstrap.scss";

	.container {
		width: 100%;
	}

	table {

		border: 1px solid black;
		text-align: center;

		td {
			padding: 0px;
		}

		.cell {
			width: 70px;
			height: 70px;
		}

		.blackCell {
			background-color: gray;
		}

		.selected {
			background: yelow;
		}

		.piece {
			font-size: 40px;
			margin: 0;
			padding: 0;
			border: 0;
			background: none;
		}

		.king {

		}

		.queen {

		}

		.bishop {

		}

		.knight {

		}

		.rook {

		}

		.pawn {

		}
	}

	#chess-table {
		float: left;
		margin-left: 100px;
	}

	#moves {
		width: 400px;
		height: 561px;
		background: green;
		margin-right: 150px;
		float: right;
		text-align: center;
	}